html, body, #app {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

#errorText {
  color: #DC2626;
}

.infoContainer {
  align-self: flex-start;
}

.node {
  fill: #15803D;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.hidden {
  fill: none;
  stroke: none;
}

.label, .longLabel {
  fill: white;
  font-family: Consolas, monaco, monospace;
}

.label {
  font-size: 15px;
}

.longLabel {
  font-size: 11px;
}